{% extends 'base.html' %}

{% block content %}

<nav class="sticky nav">
    <ul class="main-nav">
        <li class="nav-item"><a href="{{ url_for('.index') }}">Main Page</a></li>
        <li class="nav-item"><a href="{{ url_for('.blog') }}">Blog Home</a></li>
    </ul>
</nav>

<div class="content">
<div class="container grid-lg">

<div class="spacer"></div>

{% for post in posts %}
    <h1>
    {{ post.title }}
    </h1>
    <em>{{ post.timestamp[:16] }}</em>
    <p>
    {% if post.body_html %}
    {{ post.body_html | truncate(500) | safe }}
    {% else %}
    {{ post.body }}
    {% endif %}
    </p>
    <p><a href="{{ url_for('.blog_post', title_slug=post.title_slug) }}">Read More</a></p>
    <hr>
    <br>
{% endfor %}
</div>
</div>
{% endblock %}
