
{% extends 'base.html' %}

{% block content %}
<nav class="nav-admin">
    <ul>
        <li><a href="{{ url_for('.admin') }}">Create New Post</a></li>
        <li><a href="{{ url_for('.emails') }}">Check Messages</a></li>
        <li><a href="{{ url_for('.logout') }}">Logout</a></li>
    </ul>
</nav>
<div class="content">
<div class="container grid-lg">
{% for email in emails %}
    <h1>
    {{ email.subject }}
    </h1>
    <p>
        <em>
    {{ email.timestamp[:21] }}
        </em>
    </p>
    <p>
    {{ email.name }}
    </p>
    <p>
    {{ email.email }}
    </p>
    {{ email.body }}
{% endfor %}
<br>
<br>
</div>
</div>

{% endblock %}
