{% extends 'base.html' %}

{% block content %}
<div class="header-img">
<img src="{{ url_for('static', filename='img/photo-1489875347897-49f64b51c1f8.jpeg') }}">
</div>
<div class="content">
<div class="container grid-lg">
<section>
<div id="about">
<div class="card">
    <div class="columns">
      <div class="column">
  <div class="card-header">
    <div class="card-title h3 text-center">About me</div>
      </div>
    <div class="card-body">
      <p>
      I'm a 30 year old software developer living in Los Angeles, CA. I have a passion for all things technology, and love solving unique and complex problems using code.
      </p>

      <p>
      I work with Python, Javascript, SQL, and HTML/CSS. Being a Full-Stack developer means I can monitor the entire process from beginning to end, and provide the best service and product for my clients.
      </p>

      <p>
      I also enjoy writing automation scripts to eliminate the need for tedious and tiresome tasks. Nothing is more rewarding to me than writing a piece of software that genuinly helps someone accomplish something. No task is too big or small.
      </p>
    </div>
  </div>
      {# <div class="column col-sm-6">

      </div> #}
    </div>
</div>
</div>
</section>

<section>
  <div class="section-head">

<div id="services">
<h1 class="text-center">Services</h1>
<div class="underline"></div>
  </div>
</div>

<div class="columns">
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-laptop-code"></i>
      </div>
    <div class="card-title h5 text-center">Front-End Development</div>
  </div>
    <div class="card-body">Take advantage of modern, eye catching designs to stay ahead of the competition and make your business shine. Powerful web presence is the new business card.
    </div>
</div>
</div>
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-file-code"></i>
      </div>
    <div class="card-title h5 text-center">Back-End Development</div>
  </div>
    <div class="card-body">Customize the solutions for the unique needs of your small business. User management and sign-ins, shopping carts and APIs, let your website be more than just decoration.
    </div>
  </div>
</div>
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-scroll"></i>
      </div>
    <div class="card-title h5 text-center">Scripting and Automation</div>
  </div>
    <div class="card-body">Employ powerful custom scripts to automate workflows and speed up manual tasks. From sending emails to data entry, take back your time once and for all.
    </div>
  </div>
</div>
</div>

<div class="columns">
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-download"></i>
      </div>
    <div class="card-title h5 text-center">Web Scraping</div>
  </div>
    <div class="card-body">Quickly gather data from a variety of different sources. Product prices and reviews, sports scores and stats, movie showtimes and news articles, make the web work for you.
    </div>
</div>
</div>
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-database"></i>
      </div>
    <div class="card-title h5 text-center">SQL Database Integration</div>
  </div>
    <div class="card-body">Utilize the power of relational databases to get more from your data. See the unique opportunites for your business by seeing how pieces of your data relate to one another.
    </div>
  </div>
</div>
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-chart-bar"></i>
      </div>
    <div class="card-title h5 text-center">Data Visualization</div>
  </div>
    <div class="card-body">Analyze and visualize your data for a high-level look at your business trends. Gain insights into your sales and marketing data to track progress over time, and make better decisions.
    </div>
  </div>
</div>
</div>
</section>


<section>
<div class="section-head">
<div id="portfolio">
<h1 class="text-center">Portfolio</h1>
<div class="underline"></div>
</div>
</div>


</section>


<section>
<div class="section-head">
<div id="blog">
<h1 class="text-center">Blog</h1>
<div class="underline"></div>
</div>
</div>


</section>


<section>
<div class="section-head">
<div id="contact">
<h1 class="text-center">Contact</h1>
<div class="underline"></div>
</div>
</div>


</section>


{% endblock %}
