{% extends 'base.html' %}

{% block content %}
<div class="header-img" id="home">

  <nav class="nav">
  <ul>
    <li class="nav-item" id="home-btn"><a href="#home">Home</a></li>
    <li class="nav-item" id="about-btn"><a href="#about">About</a></li>
    <li class="nav-item" id="services-btn"><a href="#services">Services</a></li>
    <li class="nav-item" id="portfolio-btn"><a href="#portfolio">Portfolio</a></li>
    <li class="nav-item" id="contact-btn"><a href="#contact">Contact</a></li>
  </ul>
  </nav>

  <h1 class="head-text">Lexicon Designs</h1>
</div>
<div id="about"></div>
<div class="content">
<div class="container grid-lg">
<section>
<div>
<div class="card">
    <div class="columns">
      <div class="column">
  <div class="card-header">
    <div class="card-title h3 text-center">About me</div>
      </div>
    <div class="card-body">
      <p>
      I'm a 30 year old software developer living in Los Angeles, CA. I have a passion for all things technology, and love solving unique and complex problems using code.
      </p>

      <p>
      I work with Python, Javascript, SQL, and HTML/CSS. Being a Full-Stack developer means I can monitor the entire process from beginning to end, and provide the best service and product for my clients.
      </p>

      <p>
      I also enjoy writing automation scripts to eliminate the need for tedious and tiresome tasks. Nothing is more rewarding to me than writing a piece of software that genuinly helps someone accomplish something. No task is too big or small.
      </p>
    </div>
  </div>
      {# <div class="column col-sm-6"></div> #}
    </div>
</div>
</div>
</section>
</div>

<div class="anchor" >
  <a id="services"></a>
<div class="container grid-lg">
<section>
  <div class="section-head">

<div>
<h1 class="text-center">Services</h1>
<div class="underline"></div>
  </div>
</div>

<div class="columns">
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-laptop-code"></i>
      </div>
    <div class="card-title h5 text-center">Front-End Development</div>
  </div>
    <div class="card-body">Take advantage of modern, eye catching designs to stay ahead of the competition and make your business shine. Powerful web presence is the new business card.
    </div>
</div>
</div>
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-file-code"></i>
      </div>
    <div class="card-title h5 text-center">Back-End Development</div>
  </div>
    <div class="card-body">Customize the solutions for the unique needs of your small business. User management and sign-ins, shopping carts and APIs, let your website be more than just decoration.
    </div>
  </div>
</div>
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-scroll"></i>
      </div>
    <div class="card-title h5 text-center">Scripting and Automation</div>
  </div>
    <div class="card-body">Employ powerful custom scripts to automate workflows and speed up manual tasks. From sending emails to data entry, take back your time once and for all.
    </div>
  </div>
</div>
</div>

<div class="columns">
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-download"></i>
      </div>
    <div class="card-title h5 text-center">Web Scraping</div>
  </div>
    <div class="card-body">Quickly gather data from a variety of different sources. Product prices and reviews, sports scores and stats, movie showtimes and news articles, make the web work for you.
    </div>
</div>
</div>
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-database"></i>
      </div>
    <div class="card-title h5 text-center">SQL Database Integration</div>
  </div>
    <div class="card-body">Utilize the power of relational databases to get more from your data. See the unique opportunites for your business by seeing how pieces of your data relate to one another.
    </div>
  </div>
</div>
<div class="column col-4 col-md-12">
  <div class="card services-card">
    <div class="card-header">
      <div class="text-center">
      <i class="fas fa-chart-bar"></i>
      </div>
    <div class="card-title h5 text-center">Data Visualization</div>
  </div>
    <div class="card-body">Analyze and visualize your data for a high-level look at your business trends. Gain insights into your sales and marketing data to track progress over time, and make better decisions.
    </div>
  </div>
</div>
</div>
</section>
</div>
</div>

<div class="anchor">
  <a id="portfolio"></a>
<div class="container grid-lg">
<section>
<div class="section-head">
<div>
<h1 class="text-center">Portfolio</h1>
<div class="underline"></div>
</div>
</div>

<div class="card">
  <div class="card-header">
    <div class="card-title h5">FakeBook</div>
    <div class="card-subtitle text-gray">A Full-Stack Social Media Clone</div>
  </div>
  <div class="card-image">
    <img src="{{ url_for('static', filename='img/Screenshot 2019-03-25 at 8.37.26 PM.png') }}" class="img-responsive">
  </div>
  <div class="card-body">
    Follow users, post to your timeline, update your profile and more. A fully functional social media clone made with Flask for Python and Materialize CSS.
  </div>
    <div class="card-footer">
  <a href="http://fakebook-flask.herokuapp.com/">
    <button class="custom-button">
      Demo
    </button>
  </a>
  <a href="https://github.com/Jordan-Rowland/fakebook-flask">
    <button class="custom-button">
      GitHub
    </button>
  </a>
  </div>
</div>
</section>
</div>
</div>

{# <div class="container grid-lg">
<section>
<div class="section-head">
<div id="blog">
<h1 class="text-center">Blog</h1>
<div class="underline"></div>
</div>
</div>

</section>
</div> #}

<div class="anchor contact">

<a id="contact"></a>
</div>
<section>
<div class="container grid-lg">
  <div class="contact-background"></div>
<div class="contact-card card">
    <div class="card-title h3 text-center contact-header">Contact me</div>
<div class="columns">
  <div class="column col-md-12">
    <br>
    <div class="contact-text-item">
    <p>
    For questions comments, quotes, or suggestions about my portfolio or blog, please feel free to contact me. I usually respond within a few hours.
    </p>
    <br>
  <p><i class="contact-icon contact-icon-text fas fa-globe"></i>
  <strong>
  Los Angeles, California
  </strong>
  </p>
  <p><i class="contact-icon contact-icon-text fas fa-envelope-open-text"></i>
    <strong>
    JordanRowland00@gmail.com
  </strong>
  </p>
    </div>
  </div>
  <div class="hide-md divider-vert"></div>
<div class="column col-md-12">
  <div class="contact-form">
                  <form id="inputform">

  <input type="text" name="name" class="contact-element", placeholder="Your Name">
  <input type="email" name="email" class="contact-element", placeholder="Your Email">
  <input type="text" name="subject" class="contact-element", placeholder="Subject">
  <textarea name="message" class="contact-element contact-message", placeholder=""></textarea>
  <br>
  <span class="number-count"></span>
    </form>
  <button type="submit" class="custom-button contact-button" disabled="true">Submit</button>

  </div>
</div>
</div>
</div>
</div>
</section>
</div>

{% endblock %}
