{% extends 'base.html' %}

{% block content %}

<nav class="nav">
    <ul class="main-nav">
        <li class="nav-item hide-sm" id="home-btn"><a href="#home">Home</a></li>
        <li class="nav-item" id="about-btn"><a href="#about">About</a></li>
        <li class="nav-item" id="services-btn"><a href="#services">Services</a></li>
        <li class="nav-item" id="portfolio-btn"><a href="#portfolio">Portfolio</a></li>
        <li class="nav-item hide-sm" id="blog-btn"><a href="#blog">Blog</a></li>
        <li class="nav-item" id="contact-btn"><a href="#contact">Contact</a></li>
        <li class="nav-item" id="resume"><a href="{{ url_for('.resume') }}">Resume</a></li>
    </ul>
</nav>

<div class="header-img" id="home">

<h1 class="head-text">Jordan Rowland</h1>
<h3 class="head-text-2">Software Developer</h3>
</div>
<div id="about"></div>
<div class="content">
<div class="container grid-lg">
<section>
<div>
<!-- <div class="card"> -->
    <div class="columns">
      <div class="column">
  <div class="card-header">
    <div class="card-title h3 text-center">About me</div>
      </div>
    <div class="card-body">
      <p class="text-center">
        I'm a software developer living in Los Angeles with a passion for all things technology.
        <br>
        When I'm not coding web-apps, I'm exploring the city or writing and producing music.
        <br>

      </p>
      <div class="social-icons">
        <a href="https://github.com/jordan-rowland">
        <i class="fab fa-github-square"></i></a>
        <a href="https://www.linkedin.com/in/jordan-rowland/">
        <i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
      {# <div class="column col-sm-6"></div> #}
    </div>
<!-- </div> -->
</div>
</section>
</div>

<div class="anchor" >
  <a class="scroll" id="services"></a>
<div class="container grid-lg">
<section>
  <div class="section-head">

<div>
<h1 class="text-center">Services</h1>
<div class="underline"></div>
  </div>
</div>

<div class="columns serv-col serv">
<div class="column col-4 col-md-12">
      <i class="serv-icon fas fa-laptop-code"></i>
    <div class="h5">Full-Stack Development</div>
    <div>Customize the solutions for the unique needs of your small business. User management and sign-ins, shopping carts and APIs, let your website be more than just decoration.
    </div>
</div>
<div class="column col-4 col-md-12">
      <i class="serv-icon fas fa-mobile-alt"></i>
    <div class="h5">Progressive Web Apps</div>
    <div>Deliver an unprecedented moble experience with offline access, push notifications, and homescreen installation. All the benefits of a native app built right into your site.
    </div>
</div>
<div class="column col-4 col-md-12">
      <i class="serv-icon fas fa-scroll"></i>
    <div class="h5">Scripts and Automation</div>
    <div>Employ powerful custom scripts to automate workflows and speed up manual tasks. From sending emails to data entry, take back your time once and for all.
    </div>
</div>
</div>

<div class="columns serv-col">
<div class="column col-4 col-md-12">
      <i class="serv-icon fas fa-download"></i>
    <div class="h5">Web Scraping</div>
    <div>Quickly gather data from a variety of different sources. Product prices and reviews, sports scores and stats, movie showtimes and news articles, make the web work for you.
    </div>
</div>
<div class="column col-4 col-md-12">
      <i class="serv-icon fas fa-database"></i>
    <div class="h5">Database Integration</div>
    <div>Utilize the power of relational databases to get more from your data. See the unique opportunites for your business by seeing how pieces of your data relate to one another.
    </div>
</div>
<div class="column col-4 col-md-12">
      <i class="serv-icon fas fa-chart-bar"></i>
    <div class="h5">Data Visualization</div>
    <div>Analyze and visualize your data for a high-level look at your business trends. Gain insights into your sales and marketing data to track progress over time, and make better decisions.
    </div>
</div>
</div>
</section>
</div>
</div>

<div class="anchor">
  <a class="scroll" id="portfolio"></a>
<div class="container grid-lg">
<section>
<div class="section-head">
<div>
<h1 class="text-center">Portfolio</h1>
<div class="underline"></div>
</div>
</div>

<div class="columns portfolio-container">
  <div class="column col-4 col-md-12 card">
    <div class="card-header">
      <div class="card-title h5">FakeBook</div>
      <div class="card-subtitle text-gray">A Full-Stack Social Media Clone with a RESTful API</div>
    </div>
    <div class="card-image">
      <img src="{{ url_for('static', filename='img/Screenshot 2019-03-25 at 8.37.26 PM.png') }}" class="img-responsive">
    </div>
    <div class="card-body">
      Follow users, post to your timeline, update your profile and more. A fully functional social media clone made with Flask for Python and Materialize CSS.
      <br>
      <br>
      <p>
        <strong>Technologies used:</strong> Flask(Python 3), Jinja2 template engine, PostreSQL, Vanilla JS, Material.css
      </p>
    </div>
      <div class="card-footer">
    <a href="http://fakebook-flask.herokuapp.com/">
      <button class="custom-button">
        Demo
      </button>
    </a>
    <a href="https://github.com/Jordan-Rowland/fakebook-flask">
      <button class="custom-button">
        GitHub
      </button>
    </a>
    </div>
  </div>
  <div class="column col-4 col-md-12 card">
    <div class="card-header">
      <div class="card-title h5">Svello</div>
      <div class="card-subtitle text-gray">An API based Trello clone built with Svelte.js</div>
    </div>
    <div class="card-image">
      <img src="{{ url_for('static', filename='img/68747470733a2f2f692e706f7374696d672e63632f44774c46355250382f53637265656e73686f742d323032302d30312d30312d61742d312d34352d30302d504d2e706e67.png') }}" class="img-responsive">
    </div>
    <div class="card-body">
      Create notes and named lists to track projects, bugs or tasks. API based JAMStack architecture.
      <br>
      <br>
      <p>
        <strong>Technologies used:</strong> Flask(Python 3), Svelte.js, custom CSS, PostgreSQL
      </p>
    </div>
      <div class="card-footer">
    <a href="https://svello.herokuapp.com/">
      <button class="custom-button">
        Demo
      </button>
    </a>
    <a href="https://github.com/Jordan-Rowland/flask-svelte-trello">
      <button class="custom-button">
        GitHub
      </button>
    </a>
    </div>
  </div>
  <div class="column col-4 col-md-12 card">
    <div class="card-header">
      <div class="card-title h5">Monopoly Bank</div>
      <div class="card-subtitle text-gray">A digital banking app to manage games of Monopoly</div>
    </div>
    <div class="card-image">
      <img src="{{ url_for('static', filename='img/Screen Shot 2020-02-15 at 3.08.04 PM.png') }}" class="img-responsive">
    </div>
    <div class="card-body">
      Add up to 8 players to manage state, transactions, bankrupts and community pot in a game of Monopoly.
      <br>
      <br>
      <p>
        <strong>Technologies used:</strong> Svelte.js, custom CSS, custom service-worker with cache-fallback strategy
      </p>
    </div>
      <div class="card-footer">
    <a href="https://jordan-rowland.github.io/monopoly-bank-svelte/public/">
      <button class="custom-button">
        Demo
      </button>
    </a>
    <a href="https://github.com/Jordan-Rowland/monopoly-bank-svelte">
      <button class="custom-button">
        GitHub
      </button>
    </a>
    </div>
  </div>
</div>
<div class="columns portfolio-container second-row">
  <div class="column col-4 col-md-12 card">
    <div class="card-header">
      <div class="card-title h5">Portfolio and Blog</div>
      <div class="card-subtitle text-gray">An offline capable PWA portfolio with integrated blogging platform</div>
    </div>
    <div class="card-image">
      <img src="{{ url_for('static', filename='img/Screen Shot 2020-02-15 at 3.15.25 PM.png') }}" class="img-responsive">
    </div>
    <div class="card-body">
      Showcases professional projects and blog posts. Built as a Progressive Web-App to work completely offline.
      <br>
      <br>
      <p>
        <strong>Technologies used:</strong> Flask(Python 3), custom JS, Spectre.css, PostgreSQL, IndexedDB, custom service-worker
      </p>
    </div>
      <div class="card-footer">
    <a href="https://jordan-rowland-portfolio.herokuapp.com/#portfolio">
      <button class="custom-button">
        Demo
      </button>
    </a>
    <a href="https://github.com/Jordan-Rowland/microblog">
      <button class="custom-button">
        GitHub
      </button>
    </a>
    </div>
  </div>
</div>
</section>
</div>
</div>

<div class="anchor">

<a class="scroll" id="blog"></a>
</div>
<section>
<div class="container grid-lg">
<div class="section-head">
<div id="blog">
<h1 class="text-center">Blog</h1>
<div class="underline"></div>
</div>
</div>

  <div class="blog-content">
<h1 id="post-title"></h1>

<em id="post-timestamp"></em>

<p id="post-body"></p>

  </div>
<br>
<div id="post-link"></div>
<a href="{{ url_for('.blog') }}">See all posts</a>

<div class="blog-nav">
<i id="prev-post" class="fas fa-chevron-left"></i>
<i id="next-post" class="fas fa-chevron-right"></i>
</div>


</div>

</section>

<div class="anchor contact">

<a class="scroll" id="contact"></a>
</div>
<section>
<div class="container grid-lg">
  <div class="contact-background"></div>
<div class="contact-card card">
    <div class="card-title h3 text-center contact-header">Contact me</div>
<div class="columns">
  <div class="column col-md-12">
    <br>
    <div class="contact-text-item">
    <p>
    For questions comments, quotes, or suggestions about my portfolio or blog, please feel free to contact me. I usually respond within a few hours.
    </p>
    <br>
  <p><i class="contact-icon contact-icon-text fas fa-globe"></i>
  <strong class="contact-details">
  Los Angeles, California
  </strong>
  </p>
  <p><i class="contact-icon contact-icon-text fas fa-envelope-open-text"></i>
    <strong class="contact-details">
    JordanRowland00@gmail.com
  </strong>
  </p>
    </div>
  </div>
  <div class="hide-md divider-vert"></div>
<div class="column col-md-12">
  <div class="contact-form">
    <form id="inputform">

  <input type="text" name="name" class="contact-element", placeholder="Your Name">
  <input type="email" name="email" class="contact-element", placeholder="Your Email">
  <input type="text" name="subject" class="contact-element", placeholder="Subject">
  <textarea name="message" class="contact-element contact-message", placeholder=""></textarea>
  <br>
  <span class="number-count"></span>
    </form>
  <button type="submit" class="custom-button contact-button" disabled="true">Submit</button>

  </div>
</div>
</div>
</div>
</div>
</section>
</div>

<div id="toast">
  Email sent!
</div>

{% endblock %}
