{% extends 'base.html' %}

{% block content %}

<nav class="sticky nav">
    <ul class="main-nav">
        <li class="nav-item"><a href="{{ url_for('.index') }}">Main Page</a></li>
        <li class="nav-item"><a href="{{ url_for('.blog') }}">Blog Home</a></li>
    </ul>
</nav>

<div class="content">

<div class="container grid-lg">

<h1>{{ post.title }}</h1>
    <p><em>{{ post.timestamp[:16] }}</em></p>
    <p>Written by Jordan Rowland</p>
    <br>
{% if post.body_html %}
{{ post.body_html | safe }}
{% else %}
    {{ post.body }}
{% endif %}

{% if current_user.is_authenticated %}
  <a href="{{ url_for('.deletepost', post_id=post.id) }}">Delete Post</a>
{% endif %}

</div>
</div>

{% endblock %}


